/* Reset básico para garantir consistência entre navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo e fundo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #E8D0F0; /* Cor de fundo lilás */
    color: #4A4A4A;
    padding: 20px;
    background: #E8D0F0 url('img/premium.avif') no-repeat center center; /* Sem repetição e centralizado */
    background-size: cover; /* A imagem cobre toda a tela */
}

/* Estilo do cabeçalho */
header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2.5rem;
    color: #c51366; /* Cor roxa */
}

/* Seção de "Sobre" */
.sobre {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.sobre h2 {
    color: #e90088; /* Cor vermelha */
    font-size: 1.8rem;
}

.sobre p {
    font-size: 1.2rem;
}

/* Seção de "Habilidades" */
.habilidades {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.habilidades h2 {
    color: #e90088; /* Cor vermelha */
    font-size: 1.8rem;
}

.habilidades ul {
    list-style-type: none;
}

.habilidades li {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.habilidades li strong {
    color: #e90088; /* Cor roxa */
}

/* Seção de "Ibiporã" */
.ibipora {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.ibipora h2 {
    color: #e90088; /* Cor vermelha */
    font-size: 1.8rem;
}

.ibipora p {
    font-size: 1.2rem;
}

.imagens {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.imagens img {
    width: 80%;
    max-width: 700px;
    border-radius: 10px;
}

/* Seção de "Futuro" */
.futuro {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.futuro h2 {
    color: #e90088; /* Cor vermelha */
    font-size: 1.8rem;
}

.futuro p {
    font-size: 1.2rem;
}

.imagens-futuro {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.imagens-futuro img {
    width: 80%;
    max-width: 700px;
    border-radius: 10px;
}

/* Seção de "Contato" */
.contato {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
}

.contato h2 {
    color: #e90088; /* Cor vermelha */
    font-size: 1.8rem;
}

.contato p {
    font-size: 1.2rem;
}

.contato a {
    color: #e90088; /* Cor roxa */
    text-decoration: none;
}

.contato a:hover {
    text-decoration: underline;
}

/* Estilo do rodapé */
footer {
    text-align: center;
    margin-top: 30px;
    font-size: 1rem;
    color: #e90088;
}